# Assignment No.2

## Data set 1, Question 1

### Is there a difference in the most prevalent age group for suicides before/during and after the 2000s?

### Pseudocode:
1. Turn the data set into a pandas data frame
2. Separate the data set into one with deaths before/during 2000s and after
3. Group by age
4. Find the mean number of individuals who have committed suicide for each age group

In [118]:
import numpy as np
import pandas as pd
import matplotlib as plt
import os

### Single line code

In [83]:
suicide_data = pd.read_csv("/workspaces/DS-3021/random datasets/Death_rates_for_suicide__by_sex__race__Hispanic_origin__and_age__United_States.csv")

In [55]:
suicide_data.head()

,INDICATOR,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE,FLAG
0,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1950,1,All ages,0.0,13.2,NaN
1,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1960,2,All ages,0.0,12.5,NaN
2,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1970,3,All ages,0.0,13.1,NaN
3,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1980,4,All ages,0.0,12.2,NaN
4,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1981,5,All ages,0.0,12.3,NaN

In [56]:
before_2000s = suicide_data.query('YEAR <= 2000')
after_2000s = suicide_data.query('YEAR > 2000')

In [73]:
x1 = before_2000s.groupby(['AGE']).size()
x2 = after_2000s.groupby(['AGE']).size()

AGE
10-14 years           72
15-19 years           72
15-24 years          416
20-24 years           72
25-34 years           72
25-44 years          416
35-44 years           72
45-54 years           72
45-64 years          416
55-64 years           72
65 years and over    416
65-74 years          120
75-84 years          120
85 years and over    120
All ages             832
dtype: int64

### Function

In [78]:
def age_year_suicide(x):
    before_2000s = x.query('YEAR <= 2000')
    after_2000s = x.query('YEAR > 2000')
    x1 = before_2000s.groupby(['AGE']).size()
    x2 = after_2000s.groupby(['AGE']).size()
    return x1, x2

In [79]:
age_year_suicide(suicide_data)

(AGE
 10-14 years           72
 15-19 years           72
 15-24 years          416
 20-24 years           72
 25-34 years           72
 25-44 years          416
 35-44 years           72
 45-54 years           72
 45-64 years          416
 55-64 years           72
 65 years and over    416
 65-74 years          120
 75-84 years          120
 85 years and over    120
 All ages             832
 dtype: int64,
 AGE
 10-14 years           54
 15-19 years           54
 15-24 years          396
 20-24 years           54
 25-34 years           54
 25-44 years          396
 35-44 years           54
 45-54 years           54
 45-64 years          396
 55-64 years           54
 65 years and over    396
 65-74 years           92
 75-84 years           92
 85 years and over     92
 All ages             792
 dtype: int64)

## Data set 1, Question 2

### Is suicide more prevalent in Black or African American men or women?

### Pseudocode:
1. Clean and organize the 'STUB_LABEL'column by dropping every row that represents an individual who is not Black or African American
2. Sort the organized data set into two new data frames. One for men and one for women
3. Count if there are more men or women affected

### Single line code

In [112]:
suicide_data1 = suicide_data.drop(suicide_data[~suicide_data['STUB_LABEL'].str.contains('Black', case=False, na=False)].index)

In [113]:
female_black_data = suicide_data1.query('STUB_LABEL.str.startswith("Female") and STUB_LABEL.str.contains("Black")', engine='python').count()
male_black_data = suicide_data1.query('STUB_LABEL.str.startswith("Male") and STUB_LABEL.str.contains("Black")', engine='python').count()

In [114]:
print(female_black_data)
print(male_black_data)

INDICATOR         521
UNIT              521
UNIT_NUM          521
STUB_NAME         521
STUB_NAME_NUM     521
STUB_LABEL        521
STUB_LABEL_NUM    521
YEAR              521
YEAR_NUM          521
AGE               521
AGE_NUM           521
ESTIMATE          370
FLAG              151
dtype: int64
INDICATOR         648
UNIT              648
UNIT_NUM          648
STUB_NAME         648
STUB_NAME_NUM     648
STUB_LABEL        648
STUB_LABEL_NUM    648
YEAR              648
YEAR_NUM          648
AGE               648
AGE_NUM           648
ESTIMATE          469
FLAG              179
dtype: int64

### Function

In [115]:
def black_menvwomen(x):
    suicide_data1 = x.drop(x[~x['STUB_LABEL'].str.contains('Black', case=False, na=False)].index)
    female_black_data = suicide_data1.query('STUB_LABEL.str.startswith("Female") and STUB_LABEL.str.contains("Black")', engine='python').count()
    male_black_data = suicide_data1.query('STUB_LABEL.str.startswith("Male") and STUB_LABEL.str.contains("Black")', engine='python').count()
    return(female_black_data, male_black_data)

In [116]:
black_menvwomen(suicide_data)

(INDICATOR         521
 UNIT              521
 UNIT_NUM          521
 STUB_NAME         521
 STUB_NAME_NUM     521
 STUB_LABEL        521
 STUB_LABEL_NUM    521
 YEAR              521
 YEAR_NUM          521
 AGE               521
 AGE_NUM           521
 ESTIMATE          370
 FLAG              151
 dtype: int64,
 INDICATOR         648
 UNIT              648
 UNIT_NUM          648
 STUB_NAME         648
 STUB_NAME_NUM     648
 STUB_LABEL        648
 STUB_LABEL_NUM    648
 YEAR              648
 YEAR_NUM          648
 AGE               648
 AGE_NUM           648
 ESTIMATE          469
 FLAG              179
 dtype: int64)

## Data set 2 Question 1

### Is suffering from a heart attack more prevalent in the group of people that live in urban areas, or the group of people that smoke?

### Pseudocode:
1. Separate the data into two data frames; one that contains all the individuals who smoke and one that contains all the individuals living in urban areas
2. Find the number of individuals with lung cancer in each data frame

### Single line code

In [168]:
heartattack_data = pd.read_csv("/workspaces/DS-3021/random datasets/japan_heart_attack_dataset.csv")
heartattack_data.head()

,Age,Gender,Region,Smoking_History,Diabetes_History,Hypertension_History,Cholesterol_Level,Physical_Activity,Diet_Quality,Alcohol_Consumption,...,Extra_Column_6,Extra_Column_7,Extra_Column_8,Extra_Column_9,Extra_Column_10,Extra_Column_11,Extra_Column_12,Extra_Column_13,Extra_Column_14,Extra_Column_15
0,56,Male,Urban,Yes,No,No,186.400209,Moderate,Poor,Low,...,0.007901,0.794583,0.290779,0.497193,0.521995,0.799657,0.722398,0.148739,0.834010,0.061632
1,69,Male,Urban,No,No,No,185.136747,Low,Good,Low,...,0.083933,0.688951,0.830164,0.634490,0.302043,0.043683,0.451668,0.878671,0.535602,0.617825
2,46,Male,Rural,Yes,No,No,210.696611,Low,Average,Moderate,...,0.227205,0.496344,0.752107,0.181501,0.629180,0.018276,0.063227,0.146512,0.997296,0.974455
3,32,Female,Urban,No,No,No,211.165478,Moderate,Good,High,...,0.403182,0.741409,0.223968,0.329314,0.143191,0.907781,0.542322,0.922461,0.626217,0.228606
4,60,Female,Rural,No,No,No,223.814253,High,Good,High,...,0.689787,0.904574,0.757098,0.337761,0.362375,0.728552,0.176699,0.484749,0.312091,0.452809

In [169]:
living1 = heartattack_data.groupby(['Region']).size()
smoking1 = heartattack_data.groupby(['Smoking_History']).size()

living_ha = pd.DataFrame
living_ha = heartattack_data.groupby(['Heart_Attack_Occurrence', 'Region']).size()

smoking_ha = pd.DataFrame
smoking_ha = heartattack_data.groupby(['Heart_Attack_Occurrence', 'Smoking_History']).size()

In [163]:
print(living_ha)

Heart_Attack_Occurrence  Region
No                       Rural      8055
                         Urban     18981
Yes                      Rural       884
                         Urban      2080
dtype: int64

In [164]:
print(smoking_ha)

Heart_Attack_Occurrence  Smoking_History
No                       No                 18957
                         Yes                 8079
Yes                      No                  2046
                         Yes                  918
dtype: int64

### Function

In [170]:
def smokingvliving(x):
    living1 = heartattack_data.groupby(['Region']).size()
    smoking1 = heartattack_data.groupby(['Smoking_History']).size()

    living_ha = pd.DataFrame
    living_ha = heartattack_data.groupby(['Heart_Attack_Occurrence', 'Region']).size()

    smoking_ha = pd.DataFrame
    smoking_ha = heartattack_data.groupby(['Heart_Attack_Occurrence', 'Smoking_History']).size()
    return(living_ha, smoking_ha)

In [171]:
smokingvliving(heartattack_data)

(Heart_Attack_Occurrence  Region
 No                       Rural      8055
                          Urban     18981
 Yes                      Rural       884
                          Urban      2080
 dtype: int64,
 Heart_Attack_Occurrence  Smoking_History
 No                       No                 18957
                          Yes                 8079
 Yes                      No                  2046
                          Yes                  918
 dtype: int64)

## Data set 2, Question 2

### What is the average cholesterol and heart rate for those who have suffered from heart attacks?

### Pseudocode:
1. Group the data by heart attack occurrence
2. Find the mean BPM and cholesterol level for those in both groups
3. Put the found values in a clear data frame

### Single line code

In [185]:
data = pd.DataFrame()
data = heartattack_data.groupby(['Heart_Attack_Occurrence'])


chol_mean = data.Cholesterol_Level.mean()
avg_bpm = data.Heart_Rate.mean()

chol_and_heart = pd.DataFrame()
chol_and_heart = chol_and_heart.assign(chol_mean=chol_mean, 
                               avg_bpm=avg_bpm)

chol_and_heart.head()

                          chol_mean    avg_bpm
Heart_Attack_Occurrence
No                       199.911267  69.959120
Yes                      199.794716  70.143216

### Function

In [186]:
def avg_chol_bpm(x):
    data = heartattack_data.groupby(['Heart_Attack_Occurrence'])
    chol_mean = data.Cholesterol_Level.mean()
    avg_bpm = data.Heart_Rate.mean()
    chol_and_heart = pd.DataFrame()
    chol_and_heart = chol_and_heart.assign(chol_mean=chol_mean, 
                               avg_bpm=avg_bpm)
    return(chol_and_heart)

In [187]:
avg_chol_bpm(heartattack_data)

                          chol_mean    avg_bpm
Heart_Attack_Occurrence
No                       199.911267  69.959120
Yes                      199.794716  70.143216